<div class="Top">
	<!-- <app-header></app-header> -->
<p>Mapper box demo</p>
</div>
<section id="container" class="Container">
    <div class="Query">
        <!--query-tabs-->
        <!--app-queries-->
	<!--
        <ngb-tabset class="tabset1" type="pills" (tabChange)="onTabChange($event)">
            <ngb-tab id="active" title="Active">
                <ng-template ngbTabContent>
                    <div class="Query2">
                        <app-queries [tabStatus]="tabActive">
                        </app-queries>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="archive" title="Archive">
                <ng-template ngbTabContent>
                    <div class="Query2">
                        <app-queries [tabStatus]="tabArchive">
                        </app-queries>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="flagged" title="Flagged">
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
	-->
    </div>
    <div class="MiddleContainer">
        <div class="Search">
            <!-- search textbox -->
	    <!-- <app-search></app-search> -->
	    <p>&lt;app-search&gt;&lt;/app-search&gt;</p>
        </div>
        <div class="Map">
            <!-- map -->
            <div class="Map2 col-10 border border-primary">
                <app-mapper></app-mapper>
            </div>
            <div class="ExtraButtons2">
                <!-- extra-buttons -->
		<!-- <app-extra-buttons></app-extra-buttons> -->
		<p>&lt;app-extra-buttons&gt;&lt;/app-extra-buttons&gt;</p>
            </div>
        </div>
        <div class="Results">
		<!-- <app-results></app-results> -->
		<p>&lt;app-results&gt;&lt;/app-results&gt;</p>
        </div>
    </div>
</section>
<div class="Bottom">
	<!-- <app-footer></app-footer> -->
	<p>&lt;app-footer&gt;&lt;/app-footer&gt;</p>
</div>
